body{
    margin: 0;
}
header,section{
    padding: 30px;
    margin: 0;
}
header{
    background-color: #fada5e;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
    margin: 0;
}
.section-one{
    background-color: black;
    color: white;
}
.btn{
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.section-one .btn{
    background-color: rgb(230, 201, 41);
    color: black;
}
.section-two .btn{
    background-color: black;
    color: white;
}